*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  // This defines what 1rem is
  font-size: 62.5%; // 1rem = 10px; 10px/16px= 62.5%;
  scroll-behavior: smooth;
}

body {
  box-sizing: border-box;
  background-color: $color-black;
}

.App {
  display: flex;
  width: 100vw;
  height: 100vh;
  align-items: center;
  justify-content: center;
}

.main-window {
  height: $CANVAS_HEIGHT;
  width: $CANVAS_WIDTH;
  border-radius: 3px;
  border: 1px solid $color-primary;
  box-shadow: 0 0 2rem rgba($color-primary, 0.2);
}
