$CANVAS_WIDTH: 900px;
$CANVAS_HEIGHT: 500px;

$color-primary: #2dd5c4;
$color-primary-dark: #00afa3;
$color-secondary: #fe585d;
$color-secondary-dark: #d93a4a;

$color-aqua: #51ecb3;
$color-gold: #ffffcc;

$color-white: #f4f5f7;
$color-black: #1a1a1d;

$color-gray-0: #2b2b2c;
$color-gray-1: #4b4b4c;
$color-gray-2: #676767;
$color-gray-3: #808080;
$color-gray-4: #989898;
$color-gray-5: #afafaf;
$color-gray-6: #c6c6c6;
