.hud-container {
  z-index: 110;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.healthBar {
  position: absolute;
  float: left;
  top: 4px;
  left: 4px;

  & .MuiLinearProgress-barColorPrimary {
    background-color: $color-primary;
  }
  &.MuiLinearProgress-colorPrimary {
    background-color: $color-gray-1;
  }
}

